.card {
  height: $card-height;
  width: $card-width;
  position: absolute;
  background-size: 100%;

  &:hover {
    z-index: 50;
  }
}

$suits: hearts, diamonds, clubs, spades;
@each $suit in $suits {
  @for $i from 1 through 13 { 
    .card.#{$suit}-#{$i} {
      background-image: url("../assets/cards/#{$suit}-#{$i}.svg");
    }
  }
} 

@keyframes enterFromLeft {
  0% {
    left: 0;
  }
}


.cards-wrapper {
  width: calc(100vw - 4rem);
  height: $card-height;
  overflow: scroll;
  margin: 0 2rem;
  border-radius: 10px;


  &.hidden {
    .card {
      background: rgb(0,212,255);
      background: radial-gradient(circle, #00d4ff 0%, #090979 65%, #020024 97%);
      border: 1px solid;
      border-radius: 10px;
    }
  }
}

.selected-card-wrapper {
  .selected-cards {
    height: calc(300px + 4px);
    width: calc(216px + 4px);
    border: 2px dashed white;
    border-radius: 6px;
    position: relative;
}

}

